@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700");
$font-family: "Roboto";
$color-white: #fff;
$color-black: #333333;
$color-disabled: #EEF3F6;

$color-primary-dark: #0F273C;
$color-dark: #25435a;
$color-light-dark: #2B4258;
$color-gray: #7a7a7a;
$color-dark-gray: #a0a0a0;
$color-light-gray: #bbb;
$color-lighter-gray: #E2E2E2;
$color-light-blue: #0091ff;